body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-image: url('background.jpg');  Add the path to your image 
    background-size: contain;
    background-position: center;*/
}

h2 {
    margin-bottom: 20px;
    font-size: 35px;
    background-color: #3498db;
    color: white;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.7);
   
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

td:hover {
    background-color: #bdc3c7;
}

/* Additional styling for time slots in the first row */
th:first-child {
    background-color: #3498db;
}

th:first-child, td:first-child {
    color: white;
}

.bgimage{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;   
    z-index: -1;
}

.day {
    background-color: #3498db;

}

/* Responsive Styles */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        font-size: 14px;
    }
}
